body, label, input, button, select {
  font-family: Verdana, Geneva, sans-serif; 
  font-weight: 300;
}

#panel {
  background-color: white;
  padding: 0 20px 5px 20px;
  opacity: .9;
  transition: opacity 500ms;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 1px 1px 10px;
}